.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFD500;
}


.logo{
    width: 60px;
}

.org{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 600;
}